@import url("./font.css");
@import url("./nord.css");
@import url("./header-footer.css");
@import url("./sidebar-nav.css");
@import url("./link.css");

/******************************************************************************/

body {
  /* Margins & Padding */
  margin: 0rem;
  padding: 0rem;

  /* Colors */
  color: #ECEFF4; /* IE Fallback */
  color: var(--nord4);
  background-color: #2E3440; /* IE Fallback */
  background-color: var(--nord0);
}

hr {
  /* Margins & Padding */
  margin: 0rem;
  padding: 0rem;

  /* Borders */
  border-style: none;      /* Set all borders to be invisible... */
  border-top-style: solid; /* ...except the top border.          */

  border-width: 0rem;         /* Set all borders have no thickness... */
  border-top-width: 0.125rem; /* ...except the top border. (Again)    */

  border-collapse: collapse;

  border-color: #4C566A; /* IE Fallback */
  border-color: var(--nord3);

  /* Colors */
  color: rgba(0, 0, 0, 0); /* Makes the line invisible */
}

div.wrap {
  /* Display & Sizing */
  display: flex;
}

main {
  /* Display & Sizing */
  display: inline-block;
  width: 100%;

  /* Margins & Padding */
  margin: 0rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  /* Colors */
  color: #D8DEE9; /* IE Fallback */
  color: var(--nord4);
  background-color: #2E3440; /* IE Fallback */
  background-color: var(--nord0);
}

main > h2 {
  /* Colors */
  color: #ECEFF4;
  color: var(--nord6);
}

main > h3 {
  /* Colors */
  color: #E5E9F0;
  color: var(--nord5);
}

ul.block {
  /* Display & Sizing */
  display: inline-block;

  /* Margins & Padding */
  margin: 0rem;
}

/* "Clearfix" hack from w3schools.com/howto/howto_css_clearfix.asp */
/* Read more at https://css-tricks.com/snippets/css/clear-fix/ */
.clearFix::after {
  /* Display & Sizing */
  display: table;

  /* Other Properties */
  content: "";
  clear: both;
}
