:root {
  /* Nord Color Scheme - https://www.nordtheme.com */

  /* Polar Night */
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;

  /* Snow Storm */
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;

  /* Frost */
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;

  /* Aurora */
  --nord11: #BF616A; /* Red */
  --nord12: #D08770; /* Orange */
  --nord13: #EBCB8B; /* Yellow */
  --nord14: #A3BE8C; /* Green */
  --nord15: #B48EAD; /* Purple */
}

.nordBlue {
  color: #8FBCBB; /* IE Fallback */
  color: var(--nord7);
}

.nordRed {
  color: #BF616A; /* IE Fallback */
  color: var(--nord11);
}

.nordOrange {
  color: #D08770; /* IE Fallback */
  color: var(--nord12);
}

.nordYellow {
  color: #EBCB8B; /* IE Fallback */
  color: var(--nord13);
}

.nordGreen {
  color: #A3BE8C; /* IE Fallback */
  color: var(--nord14);
}

.nordPurple {
  color: #B48EAD; /* IE Fallback */
  color: var(--nord15);
}
