:root {
    --lightblue: #b1d4e0;
    --darkblue: #051d40;
}

/* default styles, applied across all pages in alphabetical order */
* {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", sans-serif; /* placeholder font */
}

a { /* link styling */
    text-decoration: none;
    font-weight: bold;
    color: var(--darkblue)
}

address {
    display: block;
    font-style: italic;
}

.align-center {
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    color: black;
    font-weight: bold;
    padding: 2% 5%;
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, var(--lightblue), #5c8694);
}

.button-shadow {
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5);
}

.catalog-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, var(--lightblue), #5c8694);
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-nav {
    display: flex;
    padding: 10px;
    flex: 1;
}

.featured-page {
    align-items: center;
    background-color: var(--lightblue);
}

.featured-page img {
    padding: 10px;
    max-width: 300px;
    max-height: 300px
}

.grid-container {
    display: grid;
    gap: 5px;
    background-color: white;
    padding: 10px;
    column-gap: 0px;
    grid-template-columns: 1fr; /* Only one column */
    }

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-item{
    flex-direction: row;
}

.grid-item img{
    max-width: 100px;
    max-height:128px;
    float:left;
    margin-right:10px;
    margin-left: 10px;
}

.grid-item .description{
    margin-left: 10px;
    margin-right: 100px;
    text-wrap: wrap;
    text-align: justify;
    flex-grow: 1; /* Allow content to grow and take available space */
}

.grid-item button {
    width: 150px; /* Set a fixed width for the button */
    height: 40px;
    margin-right: 10px;
    white-space: nowrap;
    text-align: center;
    padding: 0px;
}

.h1-pages {
    border: 1px solid #051d40;
    margin: auto;
    text-align: center;
    color: #051d40;
    font-size: 2.5rem;
    background-color: #93BFCF;
}

.home-header > a {
    padding-right: 50px;   
}

.header-img{
    width: 85px;
    height: 85px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
}

.home-footer {
    background-color: var(--darkblue);
    color: lightgrey;
    height: auto;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding: 20px;
}   

.home-footer a {
    color: lightgrey;
    text-decoration: underline;
    font-size: 1.2rem;  
    text-align: center;
    display: inline-block;
}

.home-header {
    display: flex;
    height: 85px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: var(--lightblue);
}
.home-header nav {
    width: 50%;
    justify-content: space-around;
}

.home-header nav a {
    font-size: 1.25rem;
}

.home-page {
    background-image: url("../images/background_home-dark.png"); /* Need to add this image sometime: live share won't let me add */
    background-size: cover;
    height: 80vh;
    justify-content: center;
    color: white;
}

.home-page div {
    width: 80%;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}

.home-page h1 {
    padding-top: 50px;
    font-size: 4rem;
}

.home-text {
    display: block;
}

.space-around {
    justify-content: space-around;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
.home-text {
    display: none;
    }
}
