body {
  font-family: 'Be Vietnam', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #556994;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Be Vietnam', sans-serif;
  padding: 5px 5px;
}

nav ul li a:hover {
  background-color: #FFF5CC;
  color: #556994;
}

.logo {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 30px; 
  font-weight: bold;
}

.welcome {
    background-color: #FFFFFF;
    padding: 50px 0;
    margin: 30px;
    text-align: center;
}

.welcome h2 {
    color: #4C4C6D;
    font-size: 2.2em;
    margin-bottom: 20px;
    margin: 40px;
    margin-left: 30px;
}

.welcome h3 {
    color: #A98196;
    font-size: 1.6em;
    margin-bottom: 30px;
    margin: 30px;
}

.welcome .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.welcome .images img {
    width: 250px;
    border-radius: 10px;
}

.highlight-text {
    font-size: 1.2em;
    margin: 20px 0;
    color: #333;
    text-align: center;
    padding: 0 10%;
}
.mission {
    background-color: #EFEFEF;
    padding: 50px 0;
}

.mission h2 {
    color: #4C4C6D;
    font-size: 2em;
    margin-bottom: 20px;
    margin: 30px;
}

.mission p {
    color: #666;
}

.blog-posts {
    background-color: #FFFFFF;
    padding: 50px 0;
}

.blog-posts h2 {
    color: #4C4C6D;
    font-size: 2em;
    margin-bottom: 20px;
    margin:30px;
}

.blog-posts .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.blog-posts .post {
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog-posts .post img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-posts .post h3 {
    color: #4C4C6D;
    font-size: 1.5em;
    margin: 10px 0;
}

.blog-posts .post p {
    color: #666;
    font-size: 1em;
}
.blog-posts .post small {
    color: #999;
    display: block;
    margin-top: 10px;
}

.community {
    background-color: #EFEFEF;
    padding: 50px 0;
    margin: 30px;
    text-align:center;
}

.community h2 {
    color: #556994;
    font-size: 30px;
    margin-bottom: 20px;
}

.community p {
    color: #666;
    margin-bottom: 20px;
}

.button {
    display: block;
    padding: 12px 25px;
    background-color: transparent;
    color: #556994;
    font-size: 1.2em;
    border-radius: 40px;
    text-align: center;
    margin: 40 auto;
}

.button:hover {
    background-color: #6F7B98;
}

.find-here {
    background-color: #EFEFEF; 
    padding: 50px 0; 
    margin: 30px;
    text-align: center; 
}

.find-here h2 {
    text-align: center;
    font-size: 30px;
    color: #556994;
}

.find-here p {
    text-align: left;
    margin: 20px;
    color: #666;
}
footer
.email-btn {
    background-color: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: underline;
    border-radius: 5px;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.subscribe-btn { 
    background-color: none;
    color: white;
    padding: 15px 25px;
    text-decoration: underline; 
    border-radius: 8px;
    font-family: 'Be Vietnam', sans-serif; 
    font-weight: bold; 
    font-size: 20px;
}

.copyright {
    font-size: 0.8rem; 
    color: #FFF;
    margin-top: 10px;
}
.social-links a {
  font-size: 20px; 
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.social-links i {  
  margin-right: 8px;  
  font-size: 1.1rem;  
}

.social-links a:hover {
  text-decoration: underline;
}

footer {
  background-color: #556994;
  color: white; 
  text-align: center;
  padding: 20px 0;
}

.footer-contact {
  margin-bottom: 10px;
}

.subscribe-section {
  margin-top: 10px;
}
